[ng-cloak] {
  display: none; }

html, body {
  font-family: 'SFUITextSemibold', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0; }

*, *:focus, *:hover {
  outline: none; }

@media only screen and (min-width: 1600px) {
  html {
    font-size: 28px; }
  .btn-close-right {
    position: absolute;
    top: 1.25rem;
    left: 0.625rem;
    color: white;
    width: 1.25rem;
    height: 2.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .btn-close-right md-icon::before {
      line-height: 4rem;
      font-size: 1.5625rem;
      color: white; }
    .btn-close-right span {
      font-size: 0.5625rem; } }

@media only screen and (min-width: 1000px) {
  html {
    font-size: 16px; }
  .btn-close-right {
    position: absolute;
    top: 1.25rem;
    left: 0.625rem;
    color: white;
    width: 1.25rem;
    height: 2.5rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .btn-close-right md-icon::before {
      margin-top: -0.5rem;
      line-height: 4rem;
      font-size: 1.5625rem;
      color: white; }
    .btn-close-right span {
      font-size: 0.5625rem; } }

/*---------------*/
/*---------------*/
/* vars sidenav left */
.side-left {
  width: 21.40625rem;
  min-width: 21.40625rem;
  max-width: 21.40625rem;
  padding: 1.09375rem 1.875rem; }

.user-card {
  padding-left: 10px;
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .user-card .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #FFF;
    padding: 8px;
    margin: 3px 40px 3px 3px; }
  .user-card .user-name {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    font-size: 0.9375rem; }

.projects .project-plus {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .projects .project-plus p {
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #B3BBCB; }
  .projects .project-plus p:first-child {
    padding-left: 0.9375rem; }
  .projects .project-plus p:last-child {
    padding-right: 0.9375rem;
    font-weight: bold; }
  .projects .project-plus i {
    font-size: 0.9375rem; }

.projects .project-list {
  padding: 0;
  margin: 0; }
  .projects .project-list .project-item {
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 2.8125rem;
    font-size: 0.9375rem;
    line-height: 0.9375rem;
    border-radius: 0.1875rem;
    transition: background 0.4s; }
    .projects .project-list .project-item .activeProject {
      background: #56567A; }
    .projects .project-list .project-item:hover {
      background: #56567A; }
    .projects .project-list .project-item:focus {
      background: #56567A; }
    .projects .project-list .project-item span {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
                  -ms-grid-row-align: center;
              align-self: center;
      line-height: 0.9375rem; }
    .projects .project-list .project-item span:first-child {
      padding-left: 0.9375rem; }
    .projects .project-list .project-item span:last-child {
      padding-right: 0.9375rem; }

.logout {
  text-decoration: none;
  font-size: 0.75rem;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0.9375rem; }

/*---------------*/
/*---------------*/
.toolbar {
  padding: 0 1.25rem; }

.menu {
  margin: 0 1.09375rem; }

.icons8-search,
.icons8-more,
.icons8-plus {
  color: #B3BBCB !important;
  font-size: 1.40625rem !important; }

.tasks-item {
  background-color: #FFF; }

.tasks-subheader {
  margin-top: 1.25rem; }

.md-subheader-content {
  font-size: 0.9375rem; }

.tasks-text {
  line-height: 3.75rem;
  font-size: 0.75rem;
  margin-left: 0.9375rem; }
  .tasks-text:before {
    content: '';
    height: 2.5rempx;
    width: 2px;
    background: #BDBDBD;
    position: absolute;
    left: 3.75rem;
    top: 0.625rem; }

.tasks-check {
  transition: 0.4s;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  border-radius: 50%;
  border: 0.1875rem solid #BDBDBD;
  width: 1.25rem !important;
  height: 1.25rem !important; }
  .tasks-check:focus, .tasks-check:hover, .tasks-check.activeTask {
    background: #56567A; }

.md-list-item-text {
  width: 100%; }

.tasks-group-item {
  border-radius: 0.46875rem;
  box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.75); }
  .tasks-group-item md-list-item:not(:last-child):after {
    content: '';
    width: 90%;
    height: 1px;
    background: #BDBDBD;
    position: absolute;
    bottom: 0;
    left: 4%; }

.md-subheader.md-default-theme, .md-subheader {
  color: rgba(0, 0, 0, 0.54); }

.empty-task {
  -webkit-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
          transform: translateY(-4rem);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .empty-task i {
    font-size: 11.5625rem;
    color: #B1B1C8; }
  .empty-task span {
    font-size: 1.5rem;
    font-family: 'SFUITextMedium', sans-serif;
    color: #B1B1C8; }

/*---------------*/
/*---------------*/
.side-right {
  padding-top: 1.5rem;
  width: 31.25rem;
  min-width: 31.25rem;
  max-width: 31.25rem;
  text-align: center; }
  .side-right h3 {
    font-size: 1.125rem;
    font-family: 'SFUITextMedium', sans-serif;
    color: white; }
  .side-right p {
    margin: 0 auto;
    color: white;
    font-size: 0.75rem;
    line-height: 1.375rem;
    max-width: 21.25rem;
    text-align: justify;
    font-family: SFUIText, sans-serif; }

.new-task-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.25rem;
  margin: 0 auto;
  text-align: left; }
  .new-task-form label {
    font-size: 0.9375rem;
    font-family: 'SFUIText', sans-serif;
    color: #F6F6F6 !important; }
  .new-task-form .input-container > input {
    border-bottom: 0.1875rem solid #F6F6F6 !important;
    color: #F6F6F6;
    font-size: 0.9375rem; }

md-input-container {
  margin: 0px 0; }

.btn-add-task,
.btn-submit {
  position: absolute;
  right: 1.875rem;
  bottom: 1.875rem;
  width: 3.125rem !important;
  height: 3.125rem !important; }
  .btn-add-task md-icon::before,
  .btn-submit md-icon::before {
    line-height: 0.5rem;
    font-size: 1.25rem;
    color: white; }

.btn-close-right {
  position: absolute;
  top: 1.25rem;
  left: 0.625rem;
  color: white;
  width: 1.25rem;
  height: 2.5rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .btn-close-right md-icon::before {
    line-height: 4rem;
    font-size: 1.5625rem;
    color: white; }
  .btn-close-right span {
    font-size: 0.5625rem; }

.btn-edit-task,
.btn-delete-task {
  position: absolute;
  top: 1.5625rem;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  margin: 0; }
  .btn-edit-task:hover md-icon::before,
  .btn-delete-task:hover md-icon::before {
    color: white; }
  .btn-edit-task md-icon::before,
  .btn-delete-task md-icon::before {
    transition: color 0.4s;
    line-height: 0.5rem;
    font-size: 1.25rem;
    color: #51555E; }

.btn-edit-task {
  right: 3.125rem; }

.btn-delete-task {
  right: 0.9375rem; }
