
[ng-cloak] {
  display : none;
}

html, body {
  font-family : 'SFUITextSemibold', sans-serif;
  font-size   : 14px;
  height      : 100%;
  margin      : 0;
  padding     : 0;
}

*, *:focus, *:hover {
  outline : none;
}

@media only screen and (min-width : 1600px) {

  html {
    font-size : 28px;
  }
  .btn-close-right {
    position        : absolute;
    top             : (20/16)+rem;
    left            : (10/16)+rem;
    color           : white;
    width           : (20/16)+rem;
    height          : (40/16)+rem;
    display         : flex;
    justify-content : center;
    align-content   : center;
    flex-direction  : column;
    md-icon::before {
      line-height : 4rem;
      font-size   : (25/16)+rem;
      color       : white;
    }
    span {
      font-size : (9/16)+rem;
    }
  }
}

@media only screen and (min-width : 1000px) {

  html {
    font-size : 16px;
  }

  .btn-close-right {
    position        : absolute;
    top             : (20/16)+rem;
    left            : (10/16)+rem;
    color           : white;
    width           : (20/16)+rem;
    height          : (40/16)+rem;
    display         : flex;
    justify-content : center;
    align-content   : center;
    flex-direction  : column;
    md-icon::before {
      margin-top  : -0.5rem;
      line-height : 4rem;
      font-size   : (25/16)+rem;
      color       : white;
    }
    span {
      font-size : (9/16)+rem;
    }
  }
}

/*---------------*/
//sidenav left
/*---------------*/

/* vars sidenav left */
$width-left-side : (342.5/16)+rem;

.side-left {
  width     : $width-left-side;
  min-width : $width-left-side;
  max-width : $width-left-side;
  padding   : (17.5/16) + rem (30/16) + rem;
}

.user-card {
  padding-left    : 10px;
  margin-bottom   : 30px;
  display         : flex;
  justify-content : flex-start;
  align-content   : center;
  flex-direction  : row;
  .user-avatar {
    width         : 50px;
    height        : 50px;
    border-radius : 50%;
    box-shadow    : 0 0 0 2px #FFF;
    padding       : 8px;
    margin        : 3px 40px 3px 3px;
  }
  .user-name {
    align-self : center;
    font-size  : (15/16) + rem;
  }
}

.projects {

  .project-plus {
    margin-bottom   : 10px;
    display         : flex;
    justify-content : space-between;
    align-content   : center;
    flex-direction  : row;
    p {
      font-size   : (12/16)+rem;
      line-height : (14/16)+rem;
      color       : #B3BBCB;
    }
    p:first-child {
      padding-left : (15/16)+rem;
    }
    p:last-child {
      padding-right : (15/16)+rem;
      font-weight   : bold;
    }
    i {
      font-size : (15/16)+rem;
    }
  ;
  }

  .project-list {
    padding : 0;
    margin  : 0;

    .project-item {
      cursor          : pointer;
      display         : flex;
      justify-content : space-between;
      align-content   : center;
      flex-direction  : row;
      width           : 100%;
      height          : (45/16)+rem;
      font-size       : (15/16)+rem;
      line-height     : (15/16)+rem;
      border-radius   : (3/16)+rem;
      transition      : background 0.4s;
      .activeProject {
        background : #56567A;
      }
      &:hover {
        background : #56567A;
      }
      &:focus {
        background : #56567A;
      }
      span {
        align-self  : center;
        line-height : (15/16)+rem;
      }
      span:first-child {
        padding-left : (15/16)+rem;
      }
      span:last-child {
        padding-right : (15/16)+rem;
      }
    }
  }
}

.logout {
  text-decoration : none;
  font-size       : (12/16)+rem;
  color           : white;
  position        : absolute;
  bottom          : 0;
  left            : (15/16)+rem;
}

/*---------------*/
//content
/*---------------*/

.toolbar {
  padding : 0 (20/16)+rem;
}

.menu {
  margin : 0 (17.5/16)+rem;
}

.tasks-list {
}

.icons8-search,
.icons8-more,
.icons8-plus {
  color     : #B3BBCB !important;
  font-size : (22.5/16)+rem !important;
}

.tasks-item {
  //border-radius    : (7.5/16)+rem;
  background-color : #FFF;
}

.tasks-subheader {
  margin-top : (20/16)+rem;
}

.md-subheader-content {
  font-size : (15/16)+rem;
}

.tasks-text {
  line-height : (60/16)+rem;
  font-size   : (12/16)+rem;
  margin-left : (15/16)+rem;

  &:before {
    content    : '';
    height     : (40/16)+rempx;
    width      : 2px;
    background : #BDBDBD;
    position   : absolute;
    left       : (60/16)+rem;
    top        : (10/16)+rem;
  }
}

.tasks-check {
  transition    : 0.4s;
  cursor        : pointer;
  box-sizing    : border-box;
  margin-left   : (20/16)+rem;
  margin-right  : (20/16)+rem;
  border-radius : 50%;
  border        : (3/16)+rem solid #BDBDBD;
  width         : (20/16)+rem !important;
  height        : (20/16)+rem !important;
  &:focus,
  &:hover,
  &.activeTask {
    background : #56567A;
  }
}

.md-list-item-text {
  width : 100%;
}

.tasks-group-item {
  border-radius : (7.5/16)+rem;
  box-shadow    : 0px 2px 15px -4px rgba(0, 0, 0, 0.75);
  md-list-item:not(:last-child):after {
    content    : '';
    width      : 90%;
    height     : 1px;
    background : #BDBDBD;
    position   : absolute;
    bottom     : 0;
    left       : 4%;
  }
}

.md-subheader.md-default-theme, .md-subheader {
  color : rgba(0, 0, 0, 0.54);
}

.empty-task {
  transform       : translateY(-4rem);
  display         : flex;
  justify-content : center;
  align-content   : center;
  flex-direction  : column;
  text-align      : center;
  i {
    font-size : (185/16)+rem;
    color     : #B1B1C8;
    //display   : block;
  }
  span {
    font-size   : (24/16) + rem;
    font-family : 'SFUITextMedium', sans-serif;
    color       : #B1B1C8;
  }
}

/*---------------*/
//sidenav right
/*---------------*/
$width-right-side : (500/16)+rem;

.side-right {
  padding-top : (24/16)+rem;
  width       : $width-right-side;
  min-width   : $width-right-side;
  max-width   : $width-right-side;
  text-align  : center;
  h3 {
    font-size   : (18/16)+rem;
    font-family : 'SFUITextMedium', sans-serif;
    color       : white;
  }
  p {
    margin      : 0 auto;
    color       : white;
    font-size   : (12/16)+rem;
    line-height : (22/16)+rem;
    max-width   : (340/16)+rem;
    text-align  : justify;
    font-family : SFUIText, sans-serif;
  }

}

.new-task-form {
  display         : flex;
  justify-content : center;
  align-content   : center;
  flex-direction  : column;
  width           : (340/16)+rem;
  margin          : 0 auto;
  text-align      : left;

  label {
    font-size   : (15/16)+rem;
    font-family : 'SFUIText', sans-serif;
    color       : #F6F6F6 !important;
  }
  .input-container > input {
    border-bottom : (3/16)+rem solid #F6F6F6 !important;
    color         : #F6F6F6;
    font-size     : (15/16)+rem;
  }
}

md-input-container {
  margin : 0px 0;
}

// buttons style

.btn-add-task,
.btn-submit {
  position : absolute;
  right    : (30/16)+rem;
  bottom   : (30/16)+rem;
  width    : (50/16)+rem !important;
  height   : (50/16)+rem !important;
  md-icon::before {
    line-height : 0.5rem;
    font-size   : (20/16)+rem;
    color       : white;
  }
}

.btn-close-right {
  position        : absolute;
  top             : (20/16)+rem;
  left            : (10/16)+rem;
  color           : white;
  width           : (20/16)+rem;
  height          : (40/16)+rem;
  display         : flex;
  justify-content : center;
  align-content   : center;
  flex-direction  : column;
  md-icon::before {
    line-height : 4rem;
    font-size   : (25/16)+rem;
    color       : white;
  }
  span {
    font-size : (9/16)+rem;
  }
}

.btn-edit-task,
.btn-delete-task {
  position : absolute;
  top      : (25/16)+rem;
  width    : (20/16)+rem;
  height   : (20/16)+rem;
  padding  : 0;
  margin   : 0;
  &:hover md-icon::before {
    color : white;
  }
  md-icon::before {
    transition  : color 0.4s;
    line-height : 0.5rem;
    font-size   : (20/16)+rem;
    color       : #51555E;
  }
}

.btn-edit-task {
  right : (50/16)+rem;
}

.btn-delete-task {
  right : (15/16)+rem;
}

md-icon {
  //margin-top: -28px;
}
